<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8">
    <title>Анализатор страниц</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark px-1">
<div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for("start") }}">Анализатор страниц</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for("add") }}">Сайты</a>
        </li>
    </div>
  </div>
    </nav>
{% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
</header>

  <main class="flex-grow-1">
    <div class="container-lg mt-3">
      <h1>Сайт: {{ site_name }}</h1>    
  <div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="url">
      <tbody>
        <tr>
          <td>ID</td>
          <td>{{ record[0] }}</td>
        </tr>
        <tr>
          <td>Имя</td>
          <td>{{ record[1] }}</td>
        </tr>
        <tr>
          <td>Дата создания</td>
          <td>{{ record[2] | ctime }}</td>
        </tr>
      </tbody>
    </table>
  </div>

    <h2 class="mt-5 mb-3">Проверки</h2>
    <form method="post" action="/urls/{{ id }}/checks">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
    </form>
    
  <div>
    <table class="table table-bordered table-hover mt-2" data-test="urls">
      <tbody>
	<thead>
    <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
    </tr>
    	</thead>
        {% for check in checks %}
        <tr>
            <td> {{ check[0] }} </td>
            <td> {{ check[1] }} </td>
            <td> -//-//- </td>
            <td> -//-//- </td>
            <td> -//-//- </td>
            <td> {{ check[2] | ctime }} </td>
        </tr>
        {% endfor %}    	
      </tbody>
    </table>
  </div>

    </div>
  </main>

  <footer class="border-top py-3 mt-5 flex-shrink-0 fixed-bottom">
    <div class="container-lg">
        <div class="text-center">
              <a href="https://ru.hexlet.io/" target="_blank">Hexlet</a>
        </div>
    </div>
  </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
